/* Estilos para el contenedor principal del Header */
.header-container {
  background-color: #E2725B; /* Fondo blanco */
  padding: 20px;
  display: flex;
  align-items: center; /* Centrar verticalmente los elementos */
  justify-content: space-between; /* Colocar los elementos a los extremos */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra suave */
  position: fixed; /* Posicionamiento fijo */
  top: 0; /* Colocar el Header en la parte superior de la pantalla */
  left: 0; /* Alinear a la izquierda */
  right: 0; /* Alinear a la derecha */
  z-index: 999; /* Elevar el Header por encima del contenido */
}

/* Estilos para el contenedor del logo */
.logo-container {
  display: flex;
  align-items: center; /* Centrar verticalmente los elementos del logo */
}

/* Estilos para el logo */
.logo-container img {
  width: 70px; /* Ajustar el tamaño del logo según tus preferencias */
  margin-right: 30px; /* Espacio entre el logo y los enlaces */
  height: 70px;
}

/* Estilos para los enlaces del Header */
.nav-links {
  display: flex;
  align-items: center; /* Centrar verticalmente los enlaces */
  flex-grow: 1; /* Permite que los enlaces ocupen todo el espacio restante */
  justify-content: center; /* Centra los enlaces horizontalmente */
}

.nav-links a {
  text-decoration: none;
  color: #333333; /* Color del texto */
  font-size: 18px;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease; /* Transición suave */
}

.nav-links a:not(:last-child) {
  margin-right: 15px; /* Espacio entre los enlaces, ajusta según prefieras */
}

.nav-links a:hover {
  background-color: #F5F5DC; /* Color de fondo al pasar el cursor */
}

/* Estilo para hacer el header responsive */
@media screen and (max-width: 768px) {
  .header-container {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  .logo-container {
    margin-bottom: 10px; /* Espacio entre el logo y los enlaces en pantallas pequeñas */
  }

  .nav-links a {
    margin-top: 10px;
    margin-right: 0;
    padding: 8px 12px;
  }
}

/* Estilos para el botón "Menu" */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 10px;
}

.logo-container img {
  max-height: 50px;
}

.nav-links {
  display: flex;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  margin-right: 10px;
}

.menu-button {
  background-color: #2c3e50; /* Color de fondo del botón */
  color: #ffffff; /* Color del texto del botón */
  padding: 10px 20px; /* Espaciado interno del botón */
  border: none; /* Sin borde */
  border-radius: 5px; /* Bordes redondeados */
  cursor: pointer; /* Cambia el cursor al pasar por encima del botón */
  position: absolute; /* Posición absoluta */
  top: 10px; /* Ajusta la posición vertical del botón */
  right: 10px; /* Ajusta la posición horizontal del botón */
}

.dropdown-menu {
  position: absolute;
  top: 60px;
  right: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 999;
  display: flex;
  flex-direction: column;
}

.dropdown-menu button {
  background: none;
  border: none;
  color: #000000;
  font-size: 16px;
  cursor: pointer;
  padding: 10px;
}

/* Estilos para el overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 998;
  background-color: rgba(0, 0, 0, 0.5);
}
